.flash{
  font-size: 19px;
  color: #000;
  z-index: 110000;
  margin: auto;
  position:absolute;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  width: 800px;
  height:200px;
  text-align: center;
  .wrapper{
    padding: 20px;
  }
  .alerts-success.wrapper, .notice.wrapper{
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 75px 8px rgba(97,97,97,1);
  -moz-box-shadow: 0px 0px 75px 8px rgba(97,97,97,1);
  box-shadow: 0px 0px 75px 8px rgba(97,97,97,1); 
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;
  }
  .alerts-failure.wrapper, .error.wrapper, .alerts-error.wrapper{
    background-color: red;
  }
  .alerts-info.wrapper{
    background-color: blue;
  }
}